
body {
background-color: black;
}

.modal {
    background-color: black
}
.modal-body {
    background-color: white;
}
.modal-footer {
    background: black;
}
.modalConfirmButton {
    color: black;
    
}

.modal-full {
    min-width: 100%;
    margin: 0;
}

.modal-full .modal-content {
    min-height: 100vh;
}
.card-deck {
    margin-top: 5px
}
.card-header {
    color: white;
    background: black;
}
.card-footer {
    color: white;
    background: black;
}

#playerCountText {
    color: white
}
.playerSelector {
    margin: 10px;
}