@font-face {
    font-family: "venus rising";
    src: url(/Assets/Fonts/venus_rising_rg.ttf);
}
.attack-button {
    font-size: 15px;
    margin-bottom: 10px;
}
#dangerLevel {
    font-size: 70px;
    color: darkred;
}
#dangerTitle {

}
#tokenName {
    font-size: 100px;
}
.text-monospace {
    font-family: "venus rising" !important;
}
body {
background-color: black;
    font-family: "venus rising";
}

.modal {
    background-color: black
}
.modal-body {
    background-color: white;
font-family: "venus rising";
}
.modal-footer {
    background: black;
}
.modalConfirmButton {
    color: black;
    
}

.modal-full {
    min-width: 100%;
    margin: 0;
}

.modal-full .modal-content {
    min-height: 100vh;
}
.card-deck {
    margin-top: 5px
}
.card-header {
    color: white;
    background: black;
}
.card-footer {
    color: white;
    background: black;
}

#playerCountText {
    color: white
}
.playerSelector {
    margin-top: 30px;
    margin-bottom: 10px;
}