@font-face {
    font-family: "venus rising";
    src: url(/Assets/Fonts/venus_rising_rg.ttf);
}

#dangerLevel {
    font-size: 70px;
    color: darkred;
}
#dangerTitle {

}

/* Chrome, Safari and Opera syntax */
:-webkit-full-screen {
    background-color: black;
}

/* Firefox syntax */
:-moz-full-screen {
    background-color: black;
}

/* IE/Edge syntax */
:-ms-fullscreen {
    background-color: black;
}

/* Standard syntax */
:fullscreen {
    background-color: black;
}

.player-button {
    text-shadow: 2px 2px black;
    width: 150px;
}



#tokenName {
    font-size: 100px;
}
.text-monospace {
    font-family: "venus rising" !important;
}
body {
    overscroll-behavior: contain;
background-color: black;
    font-family: "venus rising";
    padding-top: 10px;
}

.modal {
    background-color: black
}
.modal-body {
    background-color: white;
font-family: "venus rising";
}
.modal-footer {
    background: black;
}
.modalConfirmButton {
    color: black;
    
}
.btn {
    margin-bottom: 5px;
}
.modal-full {
    min-width: 100%;
    margin: 0;
}

.modal-full .modal-content {
    min-height: 100vh;
}

.card-header {
    color: white;
    background: black;
}
.card-footer {
    color: white;
    background: black;
}

#playerCountText {
    color: white
}
.playerSelector {
    margin-top: 30px;
    margin-bottom: 10px;
}


